
.background{
    position: absolute;
    width: 290px;
    height: 290px;
    top: 150px;
    left:calc(50% - 145px);
    background-color: #000;
    border-radius: 50%;
}
.simon{
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}
.button1 svg, .button2 svg, .button3 svg, .button4 svg{
    padding: 10px;
    width: 120px;
    height: 120px;
}
.top,.bottom{
    width: 280px;
    height: 140px;
}
.startNew {
    z-index: 100;
    position:absolute;
    top: 0;
    left: calc(50% - 45px);
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 100%;

}
.center{
    position:absolute;
    top: 10%;
    left:calc(50% - 105px);
    margin-top: 65px;
    margin-left: 60px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    overflow:hidden;
}
.center img{
    position:absolute;
    top:0px;
    left:0px;
    height:90px;
}
.center.error img{
    left: -180px;
}
.center:hover img{
    left: -90px;
}
.simonButton{
    stroke: #999;
    stroke-width: 2px;
}
.button1 svg .simonButton{
    fill: #0000fe;
}

.button2 svg{
 transform: rotate(90deg);
}
.button2 svg .simonButton{
    fill:#cc0000;
}

.button3 svg{
    transform: rotate(180deg);

}
.button3 svg .simonButton{
    fill: #008800;
}
.button4 svg{
    transform: rotate(270deg);

}
.button4 svg .simonButton{
    fill: #f9cd0b;
}

.button1:active svg .simonButton, .button1.active svg .simonButton{
    fill: #33acfe;
}

.button2:active svg .simonButton, .button2.active svg .simonButton {
    fill: #ff3300;
}

.button3:active svg .simonButton, .button3.active svg .simonButton{
    fill: #00ee00;
}

.button4:active svg .simonButton, .button4.active svg .simonButton{
    fill: #ffff00;
}
.message{
    position: absolute;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    font-family: Verdana;
    width: 340px;
    left: calc(50% - 170px);
    top: 430px;
}
h3.title{
    position: absolute;
    left: calc(50% - 225px);
    top: 50px;
    font-family: Verdana;
    font-size: 21px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    width: 450px;
    color:#5b5b5b;
    display:flex;
    flex-flow: nowrap row;
    align-items: stretch;

}

h3.title div{
    flex: auto;
}
h3.title a.more{
    line-height:230%;
    margin-left: auto;
    font-size: 12px;
    width: 60px;
    background:url('/SimonMock/png/arrowDown.png') no-repeat 43px 9px;
    cursor: pointer;
}
.popup{
    position: absolute;
    margin-top:50px;
    margin-left:400px;
}
.outer{
    background-color: #ecebeb;
    border: 1px solid #dbdada;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
}
.inner{
    border: 1px solid #979797;
    background-color: #fff;
}
.content{
    padding: 10px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 120%;
    color: #5b5b5b;
}

@media only screen and (max-width: 980px) {
    .popup .outer{
        margin-left: -220px;
    }
}
